<!DOCTYPE html>
<html lang="si">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
 
    <style>

    /* Footer */
        

        .contact-info {
            font-size: 14px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-top: 10px;

        }

        </Style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn-Pal Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

    <!-- Dashboard Content -->
    <div class="dashboard-container">
        <h1>අපි දැන් ප්‍රශ්නාවලිය ආරම්භ කරමු</h1>
        <div class="learning-methods">
            <a href="auditory_learning" class="learning-btn auditory">Audio Learning</a>
            <!-- <a href="reading_writing_learning" class="learning-btn reading-writing">Reading & Writing Learning</a>
            <a href="all_score" class="learning-btn visual">All Results</a> -->
        </div>
    </div>
    
</body>
</html>